footer {
  align-items: center;
  background: lightblue;
  display: flex;
  -webkit-flex: row nowrap;
  -moz-flex: row nowrap;
  -ms-flex: row nowrap;
  -o-flex: row nowrap;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 0.5em;
  margin-top: 2em;
}
footer a {
  background-color: green;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin: 0 0.5em;
  padding: 0.5em 1em;
  text-decoration: none;
}
footer a:hover {
  background-color: gold;
  color: black;
}
